<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <meta charset="UTF-8"/>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
    <head>
        <head th:replace="fragments :: head"></head>
        <nav th:replace="fragments :: page-header"></nav>


<body class="container  body-content">

<h1 th:text="${recipe.name}">Default Title</h1>
<div>
    <img th:src="${recipe.imageUrl}" width="320" height="320"> <br>
</div>

<div class="view-recipe">
    <p th:text="'Category: ' + ${recipe.category.name}"></p>
    <p th:text="Ingredients":/>
        <li th:each="ingredient: ${myIngredients}" th:text="${ingredient}"></li>
    <p th:text="'Instructions: ' + ${recipe.description}"></p>

</div>


</body>
</html>